@model Domain.Contracts.ViewModels.TwitViewModel

@using (Html.BeginForm())
{
    
    <div class="form-horizontal bg-info">
        <div class="form-group row mb-md-0">
            <div class="bg-light rounded-circle pull-left ml-md-5 mr-md-3 mt-md-3 text-center" style="width:38px; height:38px">
                s
            </div>
            <div class="input-group mt-md-3 pb-md-3 col-md-10">
                @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @id = "contentTwit", @class = "form-control col-md-12", @placeholder = "Что нового?", @maxlength = 240 } })
            </div>
            @Html.HiddenFor(model => model.UserId)
        </div>
    </div>
}

