@{
    ViewBag.Title = "Твиттер";
}

<div class="row" style="height:100vh">
    <div class="col-md-6 bg-primary h-100 row align-items-center justify-content-center">
        <div class="text-left">
            <div class="text-white h5 font-weight-bold m-4"><span class="fa fa-search text-white pr-3"></span>Читайте о том, что вам интересно.</div>
            <div class="text-white h5 font-weight-bold m-4"><span class="fa fa-users text-white pr-3"></span>Узнавайте, что обсуждают люди.</div>
            <div class="text-white h5 font-weight-bold m-4"><span class="fa fa-comment-o text-white pr-3"></span>Присоединяйтесь к переписке.</div>
        </div>
    </div>
    <div class="col-md-6 bg-white h-100 row align-items-center justify-content-center">

        <div class="text-left w-50">
            <div class="pb-md-3"><span class="fa fa-2x fa-themeisle text-primary"></span></div>
            <div class="h4 font-weight-bold">Узнайте, что происходит в мире прямо сейчас.</div>
            <div class="h5 font-weight-bold pt-md-5">Присоединяйтесь к Твиттеру прямо сейчас!</div>
            <a href="/Account/Register" class="btn btn-primary mt-md-3 rounded-left rounded-right col-md-12">Регистрация</a>
            <a href="/Account/Login" class="btn border-primary mt-md-3 rounded-left rounded-right col-md-12">Войти</a>
        </div>
    </div>
</div>